body {
    margin: auto;
    height: 100%;
    background-color: #f0f0f0;
    /*background-image: url("../media/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

/* Make EVERYTHING use border-box */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ch_head {
    background-color: #e2de82;
    margin:0px;
    padding-left: 2px;
    border-radius: 5px;
}

.jp_head {
    background-color: #f595a6;
    margin:0px;
    padding-left: 2px;
    border-radius: 5px;
}

.res_head {
    background-color: #cce0ff;
    margin:0px;
    padding-left: 2px;
    border-radius: 5px;
}

.news_white {
    color: white;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.news_head_ch {
    color: #fcffba;
    margin: 0px;
    padding: 5px;
}

.news_head_jp {
    color: #ffc4c4;
    margin: 0px;
    padding: 5px;
}

.link {
    display: inline-block;
    width: 175px;
    margin: 0px;
    padding: 5px 0px 0px 0px
}
.link_icon {
    margin-right: 5px;
    width: 30px;
    margin-bottom: 0px;
}

a {cursor: pointer;}
.list_item {margin-left: 30px;}
h3 {
    
}

.plist {
    display: list-item; 
    list-style-type: disc;       
    list-style-position: inside; 
}

.centers {
    text-align: center;
    margin: auto;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .news_block {
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    ul {padding: 0px;}
    
    .navigation_link {
    margin: 0px;
    padding: 5px;
    height: 30px;
    list-style-type: none;
    }
}